@using ru.emlsoft.WMS.Data.Dto.Storage;

@model ru.emlsoft.WMS.Data.Dto.PageDto<StoreOrdDto>;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h1>Складские операции</h1>
</section>

@if (Model?.Items?.Any() ?? false)
{
    <table class="table">
        <tr>
            <td>
                 @Html.DisplayNameFor(model => model.Items.First().Cell)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().DateTime)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().Good)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().Pallet)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().Qty)
            </td>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pallet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
            </tr>
        }
    </table>
}

