@using Microsoft.AspNetCore.Mvc.Localization
@using ru.EmlSoft.WMS.Localization
@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <div id="app">
        <div class="login-box">
            <div class="login-logo">
                <h3>@Html.Raw(@ViewBag.company)</h3>
            </div>
            <div class="login-box-body">
                <form method="post" >
                    <div class="form-group has-feedback">
                        <input type="text" Name="Name" id="Name" autofocus class="form-control" placeholder="@_sharedLocalizer["USER"]">
                        <span class="fa fa-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="Passwors" id="Password" class="form-control" placeholder="@_sharedLocalizer["PASSWORD"]" autocomplete="off">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">@_sharedLocalizer["LOGIN"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
