@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using ru.emlsoft.WMS.Localization
@using Microsoft.Extensions.Localization;


@inject SignInManager<ru.emlsoft.WMS.Data.Abstract.Identity.User> SignInManager
@inject IStringLocalizer<SharedResource> _sharedLocalizer


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Manage" title="Manage">@_sharedLocalizer["HELLO"] @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">@_sharedLocalizer["LOGOUT"]</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">@_sharedLocalizer["REGISTER"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">@_sharedLocalizer["LOGIN"]</a>
    </li>
}
</ul>
