@using ru.emlsoft.WMS.Data.Dto.Doc;

@model ru.emlsoft.WMS.Data.Dto.PageDto<PartnerDto>;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h1>Контрагенты</h1>
</section>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model?.Items?.Any() ?? false)
{
    <table class="table">
        <tr>
            <td>
                 @Html.DisplayNameFor(model => model.Items.First().PartnerName)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().FullName)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().INN)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().KPP)
            </td>
            <td >
                 @Html.DisplayNameFor(model => model.Items.First().OGRN)
            </td>
            <td>
            </td>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KPP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OGRN)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}


